.main{
    background-image: url("assets/background-image2.jpg");
    background-color: #cccccc; 
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.contentDiv{
    margin: 25px;
    background-color: white;
    border-radius: 15px; 
}
