
.main{
    background-image: url("./assets/background-image2.jpg");
    background-color: #cccccc; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}
.contentDiv{
    border: 10px solid rgb(189, 185, 185);
    max-width: 1200px;
    height: 80vh;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-color: white;
    border-radius: 15px;  
}
#left-content{
    float: left;
    width: 60%;
    margin-left: 30px;
}
#right-content:after {
    content: "";
    display: table;
    clear: both;
  }
#food-main{
    width: 600px;
}

/* .variety{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}
#plate{
    width: 180px;
}
#bigplate{
    width: 120px;
    margin-top: 20px;

} */
marquee{
    margin-bottom: 30px;
    font-style: italic;
    color: rgb(243, 116, 6);
}
.tagline{
    margin-top: 70px;
    color:  rgb(94, 91, 91);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    padding: 50px;
    text-align: center;
    font-size: 65px;
    color: rgb(236, 120, 18);
}
label{
    font-size: 28px;
    color:  rgb(29, 29, 29);
}
h2, label{
    color:  rgb(94, 91, 91);
}
/* nav{
    margin-bottom: 40px;
} */
button{
    border: none;
    border-radius: 40px;
    width: 100px;
    height: 25px;
    background-color: white;
    /* color: tomato; */
    color: rgb(236, 120, 18);
    font-size: 22px;
    font-weight: bold;
}
label{
    font-size: 20px;
}
#submit{
    border: none;
    background-color: white;
    color: rgb(236, 120, 18);
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div#ingredients{
    /* display: none; */
    background-color: rgb(221, 215, 215);
    overflow: scroll;
}