.main{
    background-image: url("assets/background-image2.jpg");
    background-color: #cccccc; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}
.contentDiv{
    border: 10px solid rgb(189, 185, 185);
    max-width: 1200px;
    height: 80vh;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-color: white;
    border-radius: 15px;  
}
#left-content{
    float: left;
    width: 60%;
}
#right-content:after {
    content: "";
    display: table;
    clear: both;
  }
#food-main{
    width: 600px;
}

.variety{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#plate{
    width: 130px;
}
h1{
    padding: 50px;
    text-align: justify;
    font-size: xx-large;
}
nav{
    margin-bottom: 40px;
}
button{
    border: none;
    border-radius: 40px;
}